:root{
    --primary: hsla(218, 45%, 15%, .65);
    --secondary: hsla(218, 43%, 39%, .65);
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: p22-pouty-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5.5rem;
    color: #fff;
    display: grid;
    place-items: center;
    place-content: center;

    background: linear-gradient(180deg, var(--primary), var(--secondary)),
       url(../images/Gemini.png) no-repeat center center/ cover;

}

h2{
    position: fixed;
    vertical-align: middle;
    place-items: center;
    place-content: center;
    text-shadow: 6px 6px 6px rgb(9, 9, 64);
    animation: slide 1s linear;
    
}


h1 img{
    position: fixed;
    bottom: 540px;
    left: 25px;
    width: 150px;
}

nav{
    font-family: Helvetica, sans-serif;
    font-size:large;
}

ul{
    text-align: center;
}

li{
    display: inline-block;
    width: 150px;
    position: relative;
    bottom: -10px;
    right: 20px;
    text-shadow: 2px 2px rgb(4, 4, 68);
}

a{
    color: #fff;
    text-decoration: none;
}

footer{
    font-family: helvetica, sans serif;
    font-size: 8pt;
    position:fixed;
    bottom: 10px;
    color: rgb(172, 172, 172);
}

@keyframes slide{
    0% {margin-bottom:-700px;}
}

a:hover{
    color:rgb(159, 159, 235);
}

@media screen and (max-width: 800px){
    h2{
        transform: scale(85%);
    }
    h1 img{
        transform: scale(85%)
    }
    nav{
        font-size: 13pt;
    }
}

@media screen and (max-width: 630px){
    h2{
        font-size: 85pt;
    }
    h1 img{
        transform: scale(75%)
    }
    nav{
        font-size: 10pt;
    }
    footer{
        transform: scale(75%)
    }
}

@media screen and (max-width: 538px){
    h2{
        font-size: 75pt;
    }
    h1 img{
        transform: scale(75%)
    }
    nav{
        font-size: 8pt;
    }
    footer{
        transform: scale(75%)
    }
}

@media screen and (max-width: 495px){
    h2{
        font-size: 65pt;
    }
    h1 img{
        transform: scale(75%)
    }
    nav{
        font-size: 15pt;
        
    }
    ul{
        text-align: left;
        display: grid;
        line-height: 50px;
    }
    footer{
        transform: scale(50%)
    }
}

@media screen and (max-width: 473px){
    h2{
        font-size: 65pt;
    }
    h1 img{
        transform: scale(75%)
    }
    nav{
        font-size: 15pt;
        
    }
    ul{
        text-align: left;
        display: grid;
        line-height: 50px;
    }
    footer{
        transform: scale(50%)
    }
}

@media screen and (max-width: 410px){
    h2{
        font-size: 55pt;
    }
    h1 img{
        transform: scale(75%)
    }
    nav{
        font-size: 15pt;
        
    }
    ul{
        text-align: left;
        display: grid;
        line-height: 50px;
    }
    footer{
        transform: scale(50%)
    }
}

@media screen and (max-width: 347px){
    h2{
        font-size: 45pt;
    }
    h1 img{
        transform: scale(70%)
    }
    nav{
        font-size: 15pt;
        
    }
    ul{
        text-align: left;
        display: grid;
        line-height: 50px;
    }
    footer{
        transform: scale(50%)
    }
}
