:root{
    --primary: hsla(218, 45%, 15%, .65);
    --secondary: hsla(218, 43%, 39%, .65);
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: p22-pouty-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5.5rem;
    color: #fff;
    display: grid;
    place-items: center;
    place-content: center;

    background: linear-gradient(180deg, var(--primary), var(--secondary)),
       url(../images/Gemini.png) no-repeat center center/ cover;

}

h1 img{
    position: fixed;
    bottom: 540px;
    left: 25px;
    width: 150px;
}

h1 a{
    color: rgb(77, 77, 227);
}

h2{
    font-family: Helvetica, sans-serif;
    font-size:30px;
}

h1{
    font-family: Helvetica, sans-serif;
    font-size:20px;
    margin-left: 100px;
    margin-right: 100px;

}

nav{
    font-family: Helvetica, sans-serif;
    font-size:large;
}

ul{
    text-align: center;
}

li{
    display: inline-block;
    width: 150px;
    position: relative;
    bottom: 495px;
    right: 20px;
    text-shadow: 2px 2px rgb(4, 4, 68);
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color:rgb(159, 159, 235);
}

footer{
    font-family: helvetica, sans serif;
    font-size: 8pt;
    position:fixed;
    bottom: 10px;
    color: rgb(172, 172, 172);
}

@media screen and (max-width: 1029px){
    h1{
        font-size: medium;
    }
}

@media screen and (max-width: 747px){
    h1{
        font-size: 15px;
    }
    h1 img{
        transform: scale(75%)
    }
}

@media screen and (max-width: 747px){
    h1{
        font-size: 15px;
    }
    h1 img{
        transform: scale(75%)
    }
}

@media screen and (max-width: 713px){
    h1{
        font-size: 15px;
    }
    h1 img{
        transform: scale(75%)
    }
}

@media screen and (max-width: 669px){
    h1{
        font-size: 15px;
    }
    h1 img{
        transform: scale(50%)
    }
}

@media screen and (max-width: 330px){
    h1{
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    h1 img{
        transform: scale(25%)
    }
    li{
        font-size: x-small;
        bottom: 400px;
    }
    h2{
        font-size: 15pt;
    }
}






